body{
    background-image: url(images/glowing-neon-triangle-hotmail-30a0tont8mbcd5mj.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    font-family: 'Special Elite', cursive;
}

